# server
fastapi

# configurations
python-dotenv
loguru

# clean code
isort
flake8 
flake8-print 
flake8-builtins

# unit tests
pytest-asyncio
pytest-cov

# database
psycopg-binary
sshtunnel
asyncpg
pymysql
